@model Plano

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 div-card_custom mb-3">
    <div class="card card-body border-dark text-center bg-white rounded-custom">
        <div class="conteudo-card-plano">
            <h1><a asp-controller="Plano" asp-action="Details" asp-route-planoId="@Model.PlanoId">@Model.PlanoNome</a></h1>
            <div>
                <a asp-controller="Plano" asp-action="Details" asp-route-planoId="@Model.PlanoId">
                    <img src=" @Model.PlanoImagem" class="img-fluid img-custom_plano" />
                </a>
            </div>

            <div class="descricao-detalhada-plano">
                <p>@Model.PlanoDescricao</p> 
            </div>
          
            <h2>@Model.PlanoPreco.ToString("c")</h2>
            
            
            <div class="button">
                <a class=" btn btn-primary btn_custom-plano" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-PlanoId="@Model.PlanoId">Incluir no Carrinho</a>
            </div>
        </div>
        
    </div>
</div>





