@model Servico


        <div>
            <span>@Model.Oficina.OficinaLogradouro</span>
            <span> @Model.Oficina.OficinaNumero</span><br />
            <span>@Model.Local.Cidade</span> -
            <span>@Model.Local.Bairro</span><br />
            <span>@Model.Oficina.OficinaTelefone</span>
            <h2><a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome | Vitrificação | Higienização</a></h2>
            <div class="descricao-detalhada-empresa">
                <p>@Model.DescricaoDetalhada</p>
            </div>
        </div>

        <div>
            <div>
                <input class="btn btn-success dropdown-toggle" type="datetime" id="calendario" placeholder="Agendar visita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <a href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" /></a>
            </div>
            @section Scripts {
                <script type="text/javascript">
                    $(function () {
                        $("#calendario").datepicker();
                    });
                </script>
            }
        </div>
    </div>
    
</div>