@model Servico

<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border border-dark p-3 text-center bg-white rounded-custom">
    <div class="conteudo-card-empresa">
        <h1>
            <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Oficina.OficinaNome</a>
        </h1>
        <div>
            <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">
                <img src="@Model.ImagemUrl" class="img-fluid img-custom" />
            </a>
        </div>
      
<div class="col-sm-4 col-md-4 col-lg-4" style="padding:25px;">
    <p><a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId"><img src="@Model.ImagemUrl" class="img-fluid" /></a></p>
    <h4><a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Oficina.OficinaNome</a></h4>
    <p>
        @Model.Oficina.OficinaLogradouro
        <span> @Model.Oficina.OficinaNumero</span><br />
        <span>@Model.Local.Cidade</span> -
        <span>@Model.Local.Bairro</span><br />
        <span>@Model.Oficina.OficinaTelefone</span>    
        <h5>
            <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome</a>
        </h5>
        <p>@Model.DescricaoDetalhada<br/>
        <strong>@Model.Preco.ToString("c")</strong>
    </p>
    <p>
        <input class="btn btn-primary dropdown-toggle" type="datetime" id="calendario" placeholder="Agendar visita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />&nbsp;
            @section Scripts {
            <script type="text/javascript">
                $(function () {
                    $("#calendario").datepicker({
                        dateFormat: "dd/mm/yy"
                    });
                });
            </script>
            }
        <a href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" /></a>
    </p>
    <hr>  
</div>