@model Servico
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="row p-3">
        <div class="card card-body border-dark text-center bg-white rounded-custom">
            <div class="conteudo-card-empresa">
                <h1>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Oficina.OficinaNome</a>
                </h1>
                <div>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">
                        <img src="@Model.ImagemUrl" class="img-fluid img-custom" />
                    </a>
                </div>

                @Model.Oficina.OficinaLogradouro
                <span>@Model.Oficina.OficinaNumero</span><br />
                <span>@Model.Local.Cidade</span> -
                <span>@Model.Local.Bairro</span><br />
                <span>@Model.Oficina.OficinaTelefone</span>
                <h5>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome</a>
                </h5>
                <p>
                    @Model.DescricaoDetalhada<br />
                    <strong>@Model.Preco.ToString("c")</strong>
                </p>
                <p>
                    <button type="button" class="btn btn-success btn_custom-agendar_servico" id="btnAgendarServicos" data-nome-empresa="@Model.Oficina.OficinaNome" data-nome-servico="@Model.Nome">Agendar serviço</button>

                    <a href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" /></a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleção de horários -->
<div class="modal fade" id="modalAgendarServicos" tabindex="-1" role="dialog" aria-labelledby="modalAgendarServicoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgendarServicoLabel">Selecione uma data e horário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="calendario"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="empresa">Oficina:</label>
                            <p class="form-control" id="empresa" style="background-color: #f8f9fa; border: none;"></p>
                        </div>
                        <div class="form-group">
                            <label for="servico">Serviço:</label>
                            <p class="form-control" id="servico" style="background-color: #f8f9fa; border: none;"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="horarios">Horário:</label>
                    <select id="horarios" class="form-control">
                        <option value="">Selecione um horário</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmarHorario">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de sucesso -->
<div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog" aria-labelledby="modalSucessoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSucessoLabel">Sucesso!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Seu agendamento foi realizado com sucesso!
                <br />
                <br />
                <strong>Dia:</strong> <span id="dataSelecionada"></span>
                <br />
                <strong>Hora:</strong> <span id="horaSelecionada"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOk">Ok</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<style>
    #modalAgendarServicos .modal-dialog {
        max-width: 600px; /* Define a largura máxima do modal */
    }

    /* Estilo para o modal */
    #modalAgendarServicos .modal-content {
        border-radius: 10px;
    }

    #modalAgendarServicos .modal-header {
        border-radius: 10px 10px 0 0;
    }

    #modalAgendarServicos .modal-footer {
        background-color: #f8f9fa;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid #e9ecef;
    }

    /* Estilo para os campos empresa e serviço */
    #modalAgendarServicos .form-group {
        margin-bottom: 20px;
    }

    /* Estilo para o campo horários */
    #modalAgendarServicos select {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        background-color: #f8f9fa;
    }

    /* Estilizando os campos empresa e serviço */
    #modalAgendarServicos label {
        font-weight: bold;
    }

    #modalAgendarServicos input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        background-color: #f8f9fa;
        cursor: not-allowed;
    }

    #modalAgendarServicos select {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
    }

    /* Adicionando margem superior para os campos */
    #modalAgendarServicos .mt-3 {
        margin-top: 15px;
    }

    /* Estilo personalizado para o calendário */
    .ui-datepicker {
        border: none; /* Remove a borda do calendário */
        background-color: #fff; /* Define a cor de fundo do calendário */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    }

    /* Estilo personalizado para o botão de fechar (X) */
    .ui-datepicker-header .ui-datepicker-close {
        background: none; /* Remove o fundo do botão */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
        font-size: 14px; /* Define o tamanho da fonte do botão */
    }

    .close {
        background-color: transparent !important; /* Remove a cor de fundo */
        border: none !important; /* Remove a borda */
        color: #000 !important; /* Define a cor do ícone para preto */
        opacity: 1 !important; /* Define a opacidade para garantir que o ícone seja visível */
        font-size: 1.5rem; /* Define o tamanho do ícone */
        line-height: 1; /* Ajusta a linha para centralizar o ícone verticalmente */
        position: absolute; /* Define a posição absoluta para alinhar o ícone */
        top: 10px; /* Ajusta a posição vertical do ícone */
        right: 15px; /* Ajusta a posição horizontal do ícone */
    }

    /* Estilo personalizado para o calendário */
    #calendario {
        font-family: Arial, sans-serif;
        width: 300px;
        margin: 20px auto;
    }

    .ui-datepicker-header {
        background-color: black;
        color: white;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* Estilo para os dias da semana */
    .ui-datepicker-week-end, .ui-datepicker-week-end a {
        color: #66bb6a; /* Verde */
    }

    /* Estilo para os dias do calendário */
    .ui-datepicker-calendar {
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* Estilo para os dias selecionáveis */
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        color: black;
    }

    /* Estilo para o dia atual */
    .ui-datepicker-today {
        background-color: #66bb6a; /* Verde */
        color: white;
    }

    /* Estilo para os links de navegação */
    .ui-datepicker-prev span, .ui-datepicker-next span {
        background-color: black;
        color: white;
        padding: 3px;
        border-radius: 3px;
    }

    /* Estilo para o botão de confirmação */
    #confirmarHorario {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

        #confirmarHorario:hover {
            background-color: #0056b3;
        }

    /* Estilo para a tabela de horários */
    .tabela-horarios {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

        .tabela-horarios th,
        .tabela-horarios td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        .tabela-horarios th {
            background-color: #f8f9fa;
        }

        .tabela-horarios td {
            background-color: #fff;
        }

            .tabela-horarios td:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }

        .tabela-horarios .selected {
            background-color: #007bff;
            color: #fff;
        }

    .descricao-detalhada-empresa {
        margin-top: 10px;
    }

    .preco-estimado-servico-empresa {
        margin-top: 10px;
        font-size: 1.2em;
    }

    .container-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .btn_custom-agendar_servico {
        margin-right: 10px;
    }

    .btn-whats {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        background-color: #25d366;
        border: none;
        border-radius: 50%;
    }

        .btn-whats img {
            width: 30px;
            height: 30px;
        }

    .div-card_custom {
        margin-bottom: 20px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        var horariosPorDia = {
            "2024-05-27": ["08:00", "09:00", "10:00", "14:00", "15:00"],
            "2024-05-28": ["09:00", "10:00", "11:00", "15:00", "16:00"],
            "2024-05-30": ["08:30", "09:30", "10:30", "14:30", "15:30"]
        };

        $("#btnAgendarServicos").click(function () {
            $("#modalAgendarServicos").modal("show");
            var nomeEmpresa = $(this).data("nome-empresa");
            var nomeServico = $(this).data("nome-servico");
            $("#empresa").text(nomeEmpresa);
            $("#servico").text(nomeServico);

            $("#calendario").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 0,
                beforeShowDay: function (date) {
                    var formattedDate = $.datepicker.formatDate("yy-mm-dd", date);
                    var horarios = horariosPorDia[formattedDate];

                    if (horarios && horarios.length > 0) {
                        return [true, "", "Horários disponíveis: " + horarios.join(", ")];
                    } else if (date.getTime() >= new Date().getTime()) {
                        return [true, "", "Sem agenda para este dia"];
                    } else {
                        return [false, "", ""];
                    }
                },
                onSelect: function (dateText, inst) {
                    var horarios = horariosPorDia[dateText];
                    $("#horarios").empty();

                    if (horarios) {
                        $.each(horarios, function (index, value) {
                            $("#horarios").append($("<option>", {
                                value: value,
                                text: value
                            }));
                        });
                    } else {
                        $("#horarios").append($("<option>", {
                            value: "",
                            text: "Sem agenda disponível"
                        }));
                    }
                }
            });
        });

        $("#modalAgendarServicos").on("click", "[data-dismiss='modal']", function () {
            $("#modalAgendarServicos").modal("hide");
        });

        $("#confirmarHorario").click(function () {
            var selectedDate = $("#calendario").datepicker("getDate");
            var selectedTime = $("#horarios").val();

            if (selectedDate && selectedTime) {
                var formattedDate = $.datepicker.formatDate("dd/mm/yy", selectedDate);
                // Realizar a lógica de agendamento com a data e o horário selecionados

                $("#dataSelecionada").text(formattedDate);
                $("#horaSelecionada").text(selectedTime);

                $("#modalAgendarServico").modal("hide");
                $("#modalSucesso").modal("show");

                $("#btnOk").on('click', function () {
                    window.location.href = "https://localhost:7283/";
                });
            } else {
                alert("Por favor, selecione uma data e um horário.");
            }
        });
    });
</script>

