@model Servico
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 div-card_custom">
    <div class="row p-3">
        <div class="card card-body border-dark text-center bg-white rounded-custom">
            <div class="conteudo-card-empresa">
                <h1>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Oficina.OficinaNome</a>
                </h1>
                <div>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">
                        <img src="@Model.ImagemUrl" class="img-fluid img-custom_servicoCard" />
                    </a>
                </div>

                <div>
                    <span><strong>@Model.Local.Cidade</strong></span> -
                    <span>@Model.Local.Bairro</span><br/>
                </div>

                <h2><a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome</a></h2>

                <div class="container-button">
                    <input type="submit" class="btn btn-primary btn_custom-agendar_servico_home" value="Agendar serviço" />
                </div>

            </div>

        </div>
    </div>
</div>