@model Servico
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="row p-3">
        <div class="card card-body  border-dark text-center bg-white rounded-custom">
            <div class="conteudo-card-empresa">
                <h1>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Oficina.OficinaNome</a>
                </h1>
                <div>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">
                        <img src="@Model.ImagemUrl" class="img-fluid img-custom_servicoCard" />
                    </a>
                </div>

                <div>
                    <span>Localização:</span><br />
                    <span><strong>@Model.Local.Cidade</strong></span> -
                    <span>@Model.Local.Bairro</span><br/>
                </div>

                <h2><a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome</a></h2>

                <hr />

                <div class="descricao-detalhada-empresa">
                    <p>Para ver mais informações sobre a empresa parceira, clique no <ins>nome da empresa</ins>, <ins>imagem</ins> ou <ins>nome do serviço principal</ins> presentes no respectivo card.</p>
                </div>

                <div class="preco-estimado-servico-empresa">
                    <span>Preços a partir de: <strong>@Model.Preco.ToString("c")</strong></span>
                </div>

                <div class="container-buttons">
                    <input type="submit" class="btn btn-primary btn_custom-agendar_servico" value="Agendar serviço" />

                    <a class="btn-whats" href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank">
                        <img src="~/images/logo_whats.png" alt="WhatsAppLogo" />
                    </a>
                </div>

                @Model.Oficina.OficinaLogradouro
                <span> @Model.Oficina.OficinaNumero</span><br />
                <span>@Model.Local.Cidade</span> -
                <span>@Model.Local.Bairro</span><br />
                <span>@Model.Oficina.OficinaTelefone</span>
                <h5>
                    <a asp-controller="Servico" asp-action="Details" asp-route-servicoId="@Model.ServicoId">@Model.Nome</a>
                </h5>
                <p>
                    @Model.DescricaoDetalhada<br />
                    <strong>@Model.Preco.ToString("c")</strong>
                </p>
                <p>
                    <input class="btn btn-primary dropdown-toggle" type="datetime" id="calendario" placeholder="Agendar visita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />&nbsp;
                    @section Scripts {
                        <script type="text/javascript">
                            $(function () {
                                $("#calendario").datepicker({
                                    dateFormat: "dd/mm/yy"
                                });
                            });
                        </script>
                    }
                    <a href="https://api.whatsapp.com/send?phone=5511960747570&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" /></a>
                </p>

            </div>

        </div>
    </div>
</div>