@model Servico

<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <img src="@Model.ImagemUrl" class="img-fluid" alt="">
            </div>
            <div class="card-block">
                <h2 class="card-title">@Model.Nome</h2>
                <p class="card-text">
                    <h5>@Model.DescricaoDetalhada</h5>
                    <span>
                    </span>
                </p>

        <div class="card-block"> 
            <div class="container-title-ver_empresa">
                <h1>@Model.Oficina.OficinaNome</h1>
            </div>
            <hr />
        </div>
        
        <div class="text-center">
            <img src="@Model.ImagemUrl" class="img-fluid img-custom" alt="">
        </div>


                @* Lista suspensa para buscar serviços pelo dropdown (desativada/comentada)  
                   @await Component.InvokeAsync("ServicoMenu")
                *@




                <p class="btn btn-group align-content-lg-end">

                    <div class="btn btn-group align-content-lg-end">
                        <a asp-controller="Servico" asp-action="List"
                           class="btn btn-outline-info">
                            Voltar para o menu de Serviços
                        </a>

                    <input class="btn btn-primary dropdown-toggle" type="datetime" id="calendario" placeholder="Agendar visita" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />&nbsp;
                        @section Scripts {
                            <script type="text/javascript">
                                $(function () {
                                    $("#calendario").datepicker({
                                        dateFormat: "dd/mm/yy"
                                    });
                                });
                            </script>
                        }

                        <a href="https://api.whatsapp.com/send?phone=5511953033392&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank" class="btn btn-success"><img src="~/images/whatsapp.jpg" alt="WhatsApp" /></a>
                </p>
            </div>
            
        </div>

        <div class="label-para-nome_do_servico">
            <h1>Localização</h1>
        </div>

        <div class="card-block">
            <div class="container-title-ver_empresa">
                <h2 class="card-title">Estamos presente no Endereço abaixo:</h2>
            </div>
            <hr />
            <div class="card-adress">
                <p><strong>Cidade:</strong> @Model.Local.Cidade</p>
                <p><strong>Bairro:</strong> @Model.Local.Bairro</p>
                <p><strong>Logradouro:</strong> @Model.Oficina.OficinaLogradouro - @Model.Oficina.OficinaNumero</p>
            </div>
        </div>
    </div>
    

        <div class="container-buttons-ver_empresa ">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn_custom-voltar">Voltar</a>

            <input class="btn btn-success dropdown-toggle btn_custom-agendar_servico" type="datetime" id="calendario" placeholder="Agendar serviço" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <a class="btn-whats" href="https://api.whatsapp.com/send?phone=5511953033392&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank">
                <img src="~/images/logo_whats.png" alt="WhatsAppLogo" />
            </a>
                <div>
                    @section Scripts {
                        <script type="text/javascript">
                            $(function () {
                                $("#calendario").datepicker({
                                    dateFormat: "dd/mm/yy"
                                });
                            });
                        </script>
                    }
                </div>
        </div>
</div>



