@model Servico

<div class="container-ver_empresa">
    <div class="conteudo-ver_empresa">
        <div class="label-para-nome_da_empresa">
            <h1>Empresa</h1>
        </div>

        <div class="card-block"> 
            <div class="container-title-ver_empresa">
                <h1>@Model.Oficina.OficinaNome</h1>
            </div>
            <hr />
        </div>
        
        <div class="text-center">
            <img src="@Model.ImagemUrl" class="img-fluid img-custom" alt="">
        </div>

        <div class="label-para-nome_do_servico">
            <h1>Especialidade</h1>
        </div>

        <div class="card-block">
            <div class="container-title-ver_empresa">
                <h2 class="card-title">@Model.Nome</h2>
            </div>
            <hr />
            <div class="card-text">
                <p>@Model.DescricaoDetalhada</p>
            </div>
        </div>

        <div class="label-para-nome_do_servico">
            <h1>Margem de preço</h1>
        </div>

        <div class="card-block">
            <div class="card-detail">
                <p>Preços a partir de: <strong>@Model.Preco.ToString("c")</strong></p>
            </div>
        </div>

        <div class="label-para-nome_do_servico">
            <h1>Localização</h1>
        </div>

        <div class="card-block">
            <div class="container-title-ver_empresa">
            </div>
            <div class="card-detail">
                <p>@Model.Oficina.OficinaLogradouro - @Model.Oficina.OficinaNumero</p>
                <p>
                    @Model.Local.Bairro -
                    <span>@Model.Local.Cidade</span>
                </p>
            </div>
        </div>
    </div>
    

        <div class="container-buttons-ver_empresa">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn_custom-voltar">Voltar</a>

            <input class="btn btn-success dropdown-toggle btn_custom-agendar_servico" type="datetime" id="calendario" placeholder="Agendar serviço" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <a class="btn-whats" href="https://api.whatsapp.com/send?phone=5511953033392&text=Olá,%20me%20tira%20uma%20dúvida...%20" target="_blank">
                <img src="~/images/logo_whats.png" alt="WhatsAppLogo" />
            </a>
                <div>
                    @section Scripts {
                        <script type="text/javascript">
                            $(function () {
                                $("#calendario").datepicker({
                                    dateFormat: "dd/mm/yy"
                                });
                            });
                        </script>
                    }
                </div>
        </div>
</div>



