@model ServicoListViewModel

<!--Banner com Campos de busca - select-->
<div id="banner" class="card text-dark" style="padding:10px;">
    <div class="card-body" style="padding:0;">
        <!--
        <img class="card-img" src="~/images/bannerRascunhoAltura (2).png" />
        -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h1 class="card-title mx-4">CarTools</h1>
                <p class="card-text mx-4">
                    Aplique o filtro ao lado de acordo com a sua necessidade!<br />
                    A <strong>Cartools</strong> traz praticidade para quem busca os serviços, e favorece as empresas parceiras.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h4>Encontre a loja mais perto de você!</h4>

                <div class="d-flex flex-column">
                    <form asp-controller="Servico" asp-action="Search" method="get" name="searchString" value="@ViewData["searchString"]" class="form-inline pull-right" style="margin-top:15px;">

                        <div class="d-flex flex-row" style="align-items:center;">
                            <select class="form-select form-select-sm mb-4" name="searchString" value="@ViewData["searchString"]" aria-label=".form-select-sm example" style="width: 300px; font-size:1.2em;">
                                <option selected>Serviços</option>
                                <option value="Polimento">Polimento</option>
                                <option value="Cristalização">Cristalização</option>
                                <option value="Lavagem Simples">Lavagem Simples</option>
                                <option value="Martelinho de Ouro">Martelinho de Ouro</option>
                                <option value="Envelopamento">Envelopamento</option>
                                <option value="Pintura">Pintura</option>
                                <option value="OxiSanitização">OxiSanitização</option>
                                <option value="Higienização">Higienização</option>
                                <option value="Funilaria e Pintura">Funilaria e Pintura</option>
                            </select>
                            <button class="btn btn-primary " type="submit" style="float:left; width:50px; height:35px; margin:0 0 22px 10px;">Ok</button>
                        </div>
                    </form>

                    <form asp-controller="Servico" asp-action="List" method="get" name="local" value="@ViewData["local"]" class="form-inline pull-right">

                        <div class="d-flex flex-row" style="align-items:center;">
                            <select class="form-select form-select-sm" name="local" value="@ViewData["local"]" aria-label=".form-select-sm example" style="width: 300px;font-size:1.2em; ">
                                <option selected>Cidade</option>
                                <option value="Santo André">Santo André</option>
                                <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                                <option value="São Caetano do Sul">São Caetano do Sul</option>
                                <option value="São Paulo">São Paulo</option>
                            </select>
                            <button class="btn btn-primary " type="submit" style="float:left; width:50px; height:35px; margin-left:10px;">Ok</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4"></div>
        </div>
    </div>


    <form asp-controller="Servico" asp-action="Search" method="get">
        <div class="d-flex flex-row" style="align-items:center;">
            <select class="form-select form-select-sm mb-4" name="searchString" aria-label=".form-select-sm example" style="width: 300px; font-size:1.2em;">
                <option selected>Serviço</option>
                <option value="Polimento">Polimento</option>
                <option value="Cristalização">Cristalização</option>
                <option value="Lavagem Simples">Lavagem Simples</option>
                <option value="Martelinho de Ouro">Martelinho de Ouro</option>
                <option value="Envelopamento">Envelopamento</option>
                <option value="Pintura">Pintura</option>
                <option value="OxiSanitização">OxiSanitização</option>
                <option value="Higienização">Higienização</option>
                <option value="Funilaria e Pintura">Funilaria e Pintura</option>
            </select>
            <select class="form-select form-select-sm mb-4" name="local" aria-label=".form-select-sm example" style="width: 300px;font-size:1.2em; ">
                <option selected>Cidade</option>
                <option value="Santo André">Santo André</option>
                <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                <option value="São Caetano do Sul">São Caetano do Sul</option>
                <option value="São Paulo">São Paulo</option>
            </select>
            <button class="btn btn-primary " type="submit" style="float:left; width:50px; height:35px; margin:0 0 22px 10px;">Ok</button>
        </div>
    </form>

</div>

<div class="filtro-ativo">
    <p>Filtro:</p>
    <h2>@Model.LocalAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var servico in Model.Servicos)
        {
            <partial name="_ServicosResumo" for="@servico" />
        }  
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="mt-4 pagination pagination-md d-flex justify-content-center">
                <li class="page-item"><a class="page-link text-dark" href="#">Anterior</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">Próxima</a></li>
            </ul>
    </nav>
    </div>
</div>