@model Plano

<div class="container-ver_plano">
    <div class="conteudo-ver_plano">
        <div class="label-para-nome_do_plano">
            <h1>Plano - @Model.PlanoNome</h1>
        </div>

        <div class="text-center">
            <img src="@Model.PlanoImagem" class="img-fluid img-custom" alt="imgPlano">
        </div>

        <div class="text-center">
            <p>Apenas: <strong>@Model.PlanoPreco.ToString("c")</strong> por mês!</p>
        </div>

        <div class="label-para-descricao_plano">
            <h1>Descrição do Plano</h1>
        </div>

        <div class="card-block_plano">
            <div class="card-text">
                <p>@Model.PlanoDescricao</p>
            </div>
        </div>
           
    </div>

    <div class="container-buttons-ver_plano">
        <a asp-controller="Plano" asp-action="Index" class="btn btn-outline-info btn_custom-voltar">Voltar</a>

        <a class="btn btn-primary btn_custom-plano" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-planoId="@Model.PlanoId">Adicionar ao carrinho</a>
    </div>
</div>


