@model PlanoListViewModel

<div>
    <h2>@Model.TipoAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var plano in Model.Planos)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 border border-dark p-3 text-center bg-white rounded-custom img-custom">
                <p><img src="@plano.PlanoImagem" class="img-fluid" style="height: 200px; width: 300px; border-radius: 20px; margin-top: 20px"; /></p>
                <h3 class="mt-2">@plano.PlanoNome</h3>
                <h6 class="mb-2">@plano.PlanoDescricao</h6>
                <h5><strong>@plano.PlanoPreco.ToString("c")</strong></h5>
            </div>
        }
    </div>
</div>